html,
body,
main {
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: cornflowerblue;
  text-align: center;
  padding: 10px;
  margin-top: 2%;
  font-size: 2em;
}
header nav a {
  color: white;
  text-decoration: none;
}

main {
  background-color: lightblue;
}

h1 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 3%;
  font-size: 3em;
}

article {
  display: inline-block;
  text-align: center;
  width: 30%;
  margin-left: 35px;
}
article h2 {
  text-decoration: underline;
}
article p {
  padding: 5px 30px;
}

main img {
  height: 200px;
  width: 200px;
}

.fechas {
  border-style: ridge;
  border-width: 3px;
  border-color: aqua;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4%;
}

footer {
  position: relative;
  background-color: lightblue;
  column-count: 5;
  margin: 2% 0%;
}
footer p {
  text-align: center;
  font-style: italic;
  margin: 4% auto;
}
footer p img {
  width: 50px;
  height: 50px;
  padding-top: 8%;
}
