html,
body {
  box-sizing: border-box;
}

main {
  position: relative;
}

header {
  margin-top: 2%;
  background-color: cornflowerblue;
  text-align: center;
  color: white;
  font-size: 2em;
  padding: 10px;
}
