//// @access public
//// @author David Umiri

/// @group funciones
/// @parameter {parámetro 1} $longitudTotal - Tamaño de la tabla
/// @parameter {parámetro 2} $numElementos - Cantidad de celdas
/// @return {calc}

@function calcularTamanio($longitudTotal, $numElementos) {
  @return calc($longitudTotal/ $numElementos);
}

$celda: calcularTamanio(5000px, 100);

table {
  margin: 0 auto;
  margin-top: 2%;
  background-color: cornflowerblue;
  text-align: center;
  tr {
    background-color: white;
    td {
      width: $celda;
      height: $celda;
    }
  }
}
