// función para calcular el tamaño de la celda
@function calcularTamanio($longitudTotal, $numElementos) {
  @return calc($longitudTotal/ $numElementos);
}

$celda: calcularTamanio(5000px, 100);

table {
  margin: 0 auto;
  margin-top: 2%;
  background-color: cornflowerblue;
  text-align: center;
  tr {
    background-color: white;
    td {
      width: $celda;
      height: $celda;
    }
  }
}
