aside {
  position: absolute;
  text-align: center;
  &.izquierda {
    top: 0px;
    height: 564px;
    width: 564px;
    background-color: red;
  }
  &.izquierda img {
    width: 400px;
    height: 564px;
  }
  &.derecha {
    top: 0px;
    right: 0px;
    height: 564px;
    width: 564px;
    background-color: blue;
  }
}
