aside {
  z-index: -1;
  position: absolute;
  text-align: center;
  &.izquierda {
    top: 0px;
    height: 564px;
    width: 564px;
    background-color: white;
    img {
      width: 400px;
      height: 564px;
    }
  }
  &.derecha {
    top: 0px;
    padding-top: 50px;
    right: 0px;
    height: 564px;
    width: 564px;
    background-color: white;
    img {
      width: 350px;
      height: 400px;
    }
  }
}
