// los comentarios en una sola linea son eliminados cuando Sass es compilado a CSS
/* los comentarios multi-línea se mantienen */

// mixin color de fondo y alineación centro
//// @access public
///  @author David Umiri

/// Mixin para color de fondo y texto alineado
/// @parameter {color} $bc -- Color del fondo
@mixin bc_ta($bc: cornflowerblue) {
  background-color: $bc;
  text-align: center;
}

/// Mapa para diferentes tamaños de letras
$letra: (
  "enano": 10px,
  "mediano": 20px,
  "grande": 40px,
  "gigante": 100px,
);

html,
body,
main {
  box-sizing: border-box;
  background-color: cornflowerblue;
}

main {
  @include bc_ta();
  section {
    h1 {
      color: white;
      text-align: center;
      padding-top: 10px;
      margin-bottom: 0px;
      font-size: map-get($letra, grande);
    }
  }
}
