/// Variables para las imágenes del main
$alto: 200px;
$ancho: 200px;

main article {
  display: inline-block;
  width: 33%;
  color: white;
  text-align: center;
  h2 {
    color: white;
    text-decoration: underline;
  }
  p {
    padding: 10px 100px;
  }
}

main img {
  height: $alto;
  width: $ancho;
}
