article {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin-left: 2.3%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  img {
    height: 200px;
    width: 200px;
  }
  .a1 {
    background-color: red;
  }
  .a2 {
    background-color: yellow;
  }
  .a3 {
    background-color: green;
  }