// MIXIN DE COLORES Y ALINEACION
@mixin color_alineacion {
  background-color: cornflowerblue;
  text-align: center;
}

/* TAMAÑOS DE LETRA */
$letra: (
  "enano": 10px,
  "mediano": 20px,
  "grande": 40px,
);

html,
body,
main {
  box-sizing: border-box;
}

header {
  color: white;
  position: relative;
  @include color_alineacion();
  padding: 10px;
  margin-top: 2%;
  font-size: map-get($letra, grande);
  &:hover {
    color: red;
  }
}

main {
  @include color_alineacion();
  section {
    h1 {
      color: white;
      text-align: center;
      padding-top: 25px;
      font-size: map-get($letra, grande);
    }
  }
}
