// VARIABLES
$alto: 200px;
$ancho: 200px;

article {
  color: white;
  display: inline-block;
  text-align: center;
  width: 626px;
  h2 {
    color: white;
  }
  p {
    padding: 5px 100px;
  }
}
main img {
  height: $alto;
  width: $ancho;
}
