header {
  @include bc_ta($bc: #2b00ff62);
  color: white;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 10px;
  font-size: map-get($letra, grande);
  &:hover {
    font-size: map-get($letra, gigante);
    transition: 1s;
  }
}

nav {
  @include bc_ta($bc: #5136d97d);
  margin-top: 1px;
  font-size: map-get($letra, mediano);
  columns: 3;
  column-rule: solid white 1px;
  li {
    list-style: none;
    padding: 8px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  a:hover {
    font-size: map-get($letra, grande);
    transition: 1s;
  }
}
