nav {
  z-index: 10;
  @include color_alineacion();
  margin-top: 1px;
  font-size: map-get($letra, mediano);
  columns: 3;
  column-rule: solid white 1px;
  li {
    list-style: none;
    padding: 8px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  a:hover {
    color: blue;
  }
}
